[submodule "plugin"]
	path = plugin
	url = https://gitlab.com/bettse/flipper-wiegand-plugin.git
[submodule "lib/host_tests/vendor/munit"]
	path = lib/host_tests/vendor/munit
	url = https://github.com/nemequ/munit.git
