[submodule "plugin"]
	path = plugin
	url = https://gitlab.com/bettse/flipper-wiegand-plugin.git
[submodule "tests/host/vendor/munit"]
	path = tests/host/vendor/munit
	url = https://github.com/nemequ/munit.git
